<div style="width: 45%;
            height: 100%;
            margin-top: 3em;"
      class="container-fluid form-style background-white shadow">
  <div class="top-space bottom-space">
  <h1 class="text-center color-secondary">Edit <%= resource_name.to_s.humanize %></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit_user_form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field margin-top">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name,  class:"form-control", placeholder:"First Name" %>
      </div>

      <div class="field margin-top">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name,  class:"form-control", placeholder:"Last Name" %>
      </div>

      <div class="field margin-top">
        <%= f.label :cellphone %><br />
        <%= f.text_field :cellphone,  class:"form-control", placeholder:"Cellphone" %>
      </div>

      <div class="field margin-top">
        <%= f.label :address %><br />
        <%= f.text_field :address,  class:"form-control", placeholder:"Address" %>
      </div>

      <div class="field margin-top">
        <%= f.label :email %><br />
        <%= f.email_field :email,  class:"form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field margin-top">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password,  class:"form-control", autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em style="color: red;"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field margin-top">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation,  class:"form-control", autocomplete: "new-password" %>
      </div>

      <div class="field margin-top">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password,  class:"form-control", autocomplete: "current-password" %>
      </div>

      <div class="actions margin-top">
        <%= f.submit "Update", class:"btn btn-success col" %>
      </div>
    <% end %>

    <h3 class="text-center margin-top">Cancel my account</h3>

    <p class="text-center">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
                    data: { confirm: "Are you sure?" }, class:"btn btn-danger col",
                    method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
