<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>
<div class="top-space">
  <div  class="container shadow background-white"
        style="width: 1200px;
                  height: 100%;
                  border-radius: 5px;">
    <h1 class="text-center color-secondary">EDIT USER</h1>
    <%= form_with(model: @user, local: true, html: { method: :put, id: "edit_user_form" }) do |user| %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= user.label :first_name %><br/>
          <%= user.text_field :first_name,  class:"form-control", placeholder:"First Name",
                                            required:"required" %>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Last Name</label>
          <%= user.text_field :last_name, class:"form-control", placeholder:"Last Name",
                                          required:"required" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <%= user.text_field :email, class:"form-control", placeholder:"Email",
                                      required:"required" %>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Cellphone</label>
          <%= user.text_field :cellphone, class:"form-control", placeholder:"Cellphone" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <%= user.text_field :address, class:"form-control", placeholder:"Address" %>
      </div>
      <%= user.submit "Save", class:"btn color-secondary-bg be-white"%>
    <%end%><br>
  </div>
</div>
