<div  class="container background-white form-style">
  <h1 class="text-center color-secondary top-space">USER INFORMATION</h1>
  <h6 class="top-space be-red">Name: </h6><h3><%= @user.first_name %></h3>
  <h6 class="top-space be-red">Last Name: </h6><h3><%= @user.last_name %></h3>
  <h6 class="top-space be-red">Email: </h6><h3><%= @user.email %></h3>
  <h6 class="top-space be-red">Cellphone: </h6><h3><%= @user.cellphone %></h3>
  <h6 class="top-space be-red">Address: </h6><h3 class="bottom-space"><%= @user.address %></h3>
</div>
