<h1 class="text-center color-secondary top-space-xs"><%= name %> PRODUCT</h1>
<%= form_with(model: @product, local: true) do |product| %>
  <div class="form-group col-md">
    <label for="inputProductName"><b>Product Name</b></label>
    <%= product.text_field :name, class:"form-control", placeholder:"Product Name" %>
    <label for="inputProductDescription" class="top-space"><b>Product description</b></label>
    <%= product.text_area :description, class:"form-control", placeholder:"Product description" %>

    <div class="form-row top-space">
      <div class="form-group col-md-6">
        <label for="inputProductQuantity"><b>Product quantity</b></label>
        <%= product.text_field :quantity, class:"form-control", placeholder:"Product quantity" %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4"><b>Product price</b></label>
        <%= product.text_field :price, class:"form-control", placeholder:"Product price" %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputProductPrice"><b>Categories</b></label>
          <% Category.all.each do |category| %>
          <br><%= check_box_tag "category", category.id %> <%= category.name %>
          <%end%>
      </div>
      <div class="form-group col-md-6">
        <label for="inputProductCategory"><b>Upload the product images</b></label>
        <%= product.fields_for :images do |image| %>
          <%= render 'image_fields', f: image %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "Add other image", product, :images %>
        </div>
      </div>
    </div>
  </div>
  <%= product.submit "Save", class:"btn be-white color-secondary-bg"%>
<%end%><br>


