<h1 class="text-center color-secondary top-space-xs"><%= name %> PRODUCT</h1>
<%= form_with(model: @product, local: true) do |form| %>
  <div class="form-group col-md">
    <label for="inputProductName"><b>Product Name</b></label>
    <%= product.text_field :name, class:"form-control", placeholder:"Product Name",
        required:"required" %>
    <label for="inputProductDescription" class="top-space"><b>Product description</b></label>
    <%= product.text_area :description, class:"form-control", placeholder:"Product description",
        required:"required" %>

    <div class="form-row top-space">
      <div class="form-group col-md-6">
        <label for="inputProductQuantity"><b>Product quantity</b></label>
        <%= product.text_field :quantity, class:"form-control", placeholder:"Product quantity",
            required:"required" %>
      </div>

      <div class="form-group col-md-6">
        <label for="inputProductPrice"><b>Product price</b></label>
        <%= form.text_field :price, class:"form-control", placeholder:"Product price", required:"required" %>
      </div>

      <div class="form-group col-md-6">
        <label for="inputProductPrice"><b>Categories</b></label>
        <% category_array = Category.all.map { |category| [category.name, category.id] } %>
        <%= form.select(:category_id, options_for_select(category_array),
                            { },
                            { :class => 'form-control' }) %>
      </div>

      <div class="form-group col-md-6">
        <label for="inputProductCategory"><b>Upload the product images</b></label>
          <%= form.fields_for :images do |image| %>
            <%= render 'image_fields', f: image %>
          <% end %>
        <div class="links">
          <%= link_to_add_association "Add other image", form, :images %>
        </div>
      </div>
    </div>
  </div>
  <%= form.submit "Save", class:"btn be-white color-secondary-bg"%>
<%end%><br>


