<h1 class="be-white"><%= name %></h1><br>
<div  class="card-deck"
      data-aos="zoom-out"
      data-aos-duration="1200">
  <% @products.each do |product| %>

    <div class="card shadow">

      <% @img.find do |img| %>
        <% if img.product_id == product.id %>
          <%= image_tag img.image.url(), class:"card-img-top", alt:"Card image cap" %>
        <% end %>
      <% end %>
      <div class="card-body">
        <h3 class="card-title be-red"><%= product.name %></h3>
        <ul class="list-group list-group-fluid">
          <li class="list-group-item">Description: <%= product.description %></li>
          <li class="list-group-item">Quantity: <%= product.quantity %></li>
          <li class="list-group-item">Price: $<%= product.price %></li>
          <% if id == "my_products"  %>
            <li class="list-group-item">Estate: <%= product.state %></li>
          <% end %>
        </ul><br>

      </div>
      <div class="card-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm top-space-xs">
              <center>
                <%= link_to '<button type="button"
                      class="btn btn-success">View
                              </button>'.html_safe,
                    product, id: "product_show" %>
              </center>
            </div>
            <% if user_signed_in? %>
              <% if id == "products"  %>
              <div class="col-sm top-space-xs">
                <center>
                  <%= link_to '<button type="button"
                        class="btn btn-danger">Delete
                                </button>'.html_safe,
                                "/products/#{product.id}/archive",
                                method: :put,
                                remote: true%>
                </center>
              </div>
              <% end %>
              <div class="col-sm top-space-xs">
                <center>
                  <%= link_to '<button type="button"
                        class="btn btn-primary">Edit
                                </button>'.html_safe,
                      edit_product_path(product) %>
                </center>
              </div>
              <% unless product.published? %>
              <div class="col-sm top-space-xs">
                <center>
                  <%= link_to '<button type="button"
                        class="btn btn-warning">Publish
                                </button>'.html_safe,
                                "/products/#{product.id}/publish",
                                method: :put%>
                </center>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div><br>
<% if user_signed_in? %>
  <%=  link_to '<button type="button"
                        class="btn col be-white color-secondary-bg shadow">Create Product
                </button>'.html_safe,
        new_product_url %>
<% end %>
