<div class="top-space bottom-space">
  <div class="container shadow background-white" style="border-radius: 7px;">
    <h1 class="text-center color-secondary top-space-xs">EDIT PRODUCT</h1>
    <%= form_for(@product) do |product| %>
      <div class="form-group col-md">
        <label for="inputEmail4"><b>Product Name</b></label>
        <%= product.text_field :name, class:"form-control", placeholder:"Product Name" %>
        <label for="inputPassword4" class="top-space"><b>Product description</b></label>
        <%= product.text_area :description, class:"form-control", placeholder:"Product description" %>

        <div class="form-row top-space">
          <div class="form-group col-md-6">
            <label for="inputEmail4"><b>Product quantity</b></label>
            <%= product.text_field :quantity, class:"form-control", placeholder:"Product quantity" %>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4"><b>Product price</b></label>
            <%= product.text_field :price, class:"form-control", placeholder:"Product price" %>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4"><b>Categories</b></label>
              <% Category.all.each do |category| %>
              <br><%= check_box_tag "category", category.id %> <%= category.name %>
              <%end%>
          </div>
        </div>
      </div>
      <%= product.submit "Save", class:"btn be-white color-secondary-bg"%>
    <%end%><br>
  </div>
</div>
