<div class="top-space">
  <div class="container">
    <h1 class="be-white">PRODUCTS</h1><br>
    <div  class="card-deck"
          data-aos="zoom-out"
          data-aos-duration="1200">
      <% @products.each do |product| %>
        <div class="card shadow">
          <img class="card-img-top" src="https://i.blogs.es/2f4737/realme-6/1366_2000.jpg"
                alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title"><%= product.name %></h3>
            <ul class="list-group list-group-fluid">
              <li class="list-group-item">Description: <%= product.description %></li>
              <li class="list-group-item">Quantity: <%= product.quantity %></li>
              <li class="list-group-item">Price: $<%= product.price %></li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm">
                  <center>
                    <%= link_to 'Show', product_path(product), class: 'btn btn-success' %>
                  </center>
                </div>
                <div class="col-sm">
                  <center>
                    <%= button_to 'Delete', product, method: :delete,
                        type: 'button', class: 'btn btn-danger' %>
                  </center>
                </div>
                <div class="col-sm">
                  <center>
                    <%= link_to 'Edit', edit_product_path(product),
                        type: 'button', class: 'btn btn-primary' %>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div><br>
    <%=  link_to 'Create Product', new_product_path, class: 'btn btn-primary col' %>
    <%= will_paginate @products %>
  </div>
</div><br>
