<div class="top-space">
  <div class="container">
    <h1 class="be-white">PRODUCTS</h1><br>
    <div  class="card-deck"
          data-aos="zoom-out"
          data-aos-duration="1200">
      <% @products.each do |product| %>
        <div class="card shadow">
          <img class="card-img-top" src="https://i.blogs.es/2f4737/realme-6/1366_2000.jpg"
                alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title"><%= product.name %></h3>
            <ul class="list-group list-group-fluid">
              <li class="list-group-item">Description: <%= product.description %></li>
              <li class="list-group-item">Quantity: <%= product.quantity %></li>
              <li class="list-group-item">Price: $<%= product.price %></li>
            </ul><br>

          </div>
          <div class="card-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm">
                  <center>
                    <%= link_to '<button type="button"
                          class="btn btn-success">View
                                  </button>'.html_safe,
                        "products/#{product.id}" %>
                  </center>
                </div>
                <div class="col-sm">
                  <center>
                    <%= link_to '<button type="button"
                          class="btn btn-danger">Delete
                                  </button>'.html_safe,
                                  "/products/#{product.id}/archive",
                                  method: :put%>
                  </center>
                </div>
                  <div class="col-sm">
                    <center>
                      <%= link_to '<button type="button"
                            class="btn btn-primary">Edit
                                    </button>'.html_safe,
                          "products/#{product.id}/edit" %>
                    </center>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div><br>
    <%=  link_to '<button type="button"
                          class="btn col be-white color-secondary-bg shadow">Create Product
                  </button>'.html_safe,
          "products/new" %>
    <%= will_paginate @products %>
  </div>
</div><br>
