<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- jQuery 1.8 or later, 33 KB -->


    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">

  </head>
  <body>
    <div  class="color-primary-bg"
          style=" width: 100%; height: 250px; position: absolute; z-index: -99;">

    </div>
    <%= render "partials/navigation" %>
    <div style="<%= "display:none;" if notice.nil? %>">
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    </div>
    <div style="<%= "display:none;" if alert.nil? %>">
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    </div>
    <%= yield %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <%= javascript_pack_tag 'example' %>

    <script>
      AOS.init();
    </script>

    <script>
      $(document).ready(function() {
        $('[data-js-hide-card]').click(function(event){
          $(this).parents('.target').fadeOut(800, function(){ $(this).remove();});
          event.preventDefault();
        });

        $('[data-js-hide-btn]').click(function(event){
          $(this).parents('.btn_publish').fadeOut(800, function(){ $(this).remove();});
          event.preventDefault();
        });
      });
    </script>

    <script>
      function archived() {
        alertify.success('Product has been archived');
      }

      function published() {
        alertify.success('Product has been published');
      }
    </script>
  </body>
</html>
